node_modules
**/node_modules
dist
**/dist
.git
**/.git
.env
**/*.env.*
*.log
**/*.log
**/*.md
!package.json
!pnpm-lock.yaml
!tsconfig*.json
!.npmrc
__test__
**/__test__
**/coverage
.vscode
**/.vscode
.trae
**/.trae
.DS_Store
**/.DS_Store
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
test
**/test